.Scriptures_IndexPageComponent {
  .AttributeComponent {
    display: inline-block;
    margin: 0;
  }

    .DropdownMenuComponent__button {
      z-index: 9999;
    }

  ul {
    list-style: none;
    li {
      position: relative;
    }

    .Scriptures_IndexItemComponent {
      padding: 2px 5px;

      &:hover {
        background: #eee;
      }
    }
  }
}
