.Scriptures_IndexPageComponent {
  .AttributeComponent {
    display: inline-block;
    margin: 0;
  }

  .Scriptures_IndexItemComponent {
    &__scripture {
      min-width: 10em;

      &.level-1 {
        font-weight: bold;
        background: #eee;
        margin-right: 1em;
        padding: 0em 0.3em;
      }
    }

    .DropdownMenuComponent {
      top: -2px
    }

    &__scripture {
    }

    &:hover {
      background: #eee;
    }
  }


  ul {
    list-style: none;
    margin-bottom: 1em; 
  }

}
