<div class="list-item position-relative">
  <%= render menu %>
  <%= render attribute(scripture.title).with_label(:title).without_label.wrap_with(:div, class: :h5).with_link(urls.to(scripture)) %>
</div>
