<% unless current_user %>
  <div class="d-grid gap-2">
    <%= link_to t('app.links.google_login'), '/auth/google_oauth2', class: 'btn btn-light google-login'  %>
  </div>
<% end %>
<% if current_user && !current_user.enabled? %>
  <div class="alert alert-warning" role="alert">
    <%= t('app.messages.contact_admin') %>
  </div>
<% elsif current_user %>
  <%= render Home::DashboardComponent.new %>
<% end %>
