.title {
  font-weight: bold;
}

.list-item {
  border: 1px solid #ddd !important;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}

.level-2 {
  margin-left: 20px;
}

.level-3 {
  margin-left: 40px;
}

.level-4 {
  margin-left: 40px;
}

.level-5 {
  margin-left: 60px;
}
