$jw-red: #bb1827;
$jw-orange: #e36600;
$jw-red-background: #fce7e9;
$jw-yellow-background-color: #fff7da;
$jw-error-border-color: #eb5f6c;
$jw-blue: #386195;
$soft-gray: #858585;
$light-gray: #eee;

$primary: $jw-blue;
$danger: $jw-red;
$dark: #292929;
$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
